---
import { Image } from "astro:assets";
import CloudLogos from "@/components/CloudLogos.astro";
import ContactForm from "@/components/ContactForm";
import DynamicText from "@/components/DynamicText";
import NewsEntry from "@/components/NewsEntry.astro";
import Layout from "@/layouts/Layout.astro";
import lavanguardiaArticle from "@/media/articles/lavanguardiaArticle.webp"
import pilotTest from "@/media/pilotTest.jpg"
---

<Layout
  title="ecoDeliver"
  description="Tecnología disruptiva para un transporte sostenible, eficiente y colaborativo"
  keywords="ecoDeliver, tecnología, transporte, sostenible, eficiente, colaborativo"
  image="/media/brand/brand.png"
>
  <!-- Hero section -->
  <div
    class="m-auto flex flex-col justify-center max-w-4xl min-h-[calc(100vh-100px)] text-center px-4"
  >
    <!-- Contact us header -->
    <div class="mb-8 sm:flex sm:justify-center mx-auto">
      <div
        class="rounded-full px-3 py-1 text-sm leading-6 text-muted-foreground ring-1 ring-muted-foreground/20 flex flex-row gap-2 w-fit"
      >
        <p class="hidden lg:block text-muted-foreground">
          Explorando nuevos horizontes para partners
        </p>

        <a
          href="#contact-us"
          class="flex flex-row gap-2 font-semibold text-primary bg-background"

        >
          <p>Contáctanos</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={1.5}
            stroke="currentColor"
            class="w-4 h-4 my-auto"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
          </svg>
        </a>
      </div>
    </div>

    <!-- Hero title -->
    <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">
      <span>Tecnología disruptiva para un transporte</span>
      <DynamicText
        frequency={2000}
        texts={["sostenible", "eficiente", "colaborativo"]}
        className="text-4xl font-bold tracking-tight bg-gradient-to-r text-transparent bg-clip-text from-primary to-teal-500 sm:text-6xl"
        client:load
      />
    </h1>
    <!-- Hero description -->
    <p class="mt-6 text-lg font-light max-w-2xl mx-auto text-muted-foreground">
      Únete a la transformación del transporte sostenible apostando por
      tecnología disruptiva. Estamos preparando grandes novedades.
    </p>
  </div>

  <!-- Logos -->
  <h1 class="text-2xl font-semibold lg:text-3xl text-center">
    Con el apoyo de...
  </h1>
  <CloudLogos />

  <!-- Section 1 -->
  <section class="container px-6 py-10 mx-auto">
    <div
      class="lg:-mx-6 flex flex-col gap-5 lg:flex-row lg:items-center lg:space-x-12"
    >
      <video
        autoplay="true"
        loop="true"
        muted
        class="object-cover object-center lg:w-1/2 lg:mx-6 w-full h-96 rounded-lg lg:h-[36rem] order-2 lg:order-[0]"
      >
        <source src="/media/h3-video.mp4" type="video/mp4" />
        Tu navegador no soporta videos
      </video>

      <div class="lg:pr-8 pt-4 my-auto">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-primary">
            Presentando
          </h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
          >
            Tecnología de vanguardia con análisis predictivo de demanada
          </p>
          <p class="mt-6 text-lg leading-8">
            Nuestros sistema de análisis logístico aprovecha el poder de
            algoritmos avanzados y análisis de datos para automatizar y
            optimizar procesos de enrutamiento, entrega y comunicación.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 text-muted-foreground lg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  ><circle cx="6" cy="19" r="3"></circle><path
                    d="M9 19h8.5a3.5 3.5 0 0 0 0-7h-11a3.5 3.5 0 0 1 0-7H15"
                  ></path><circle cx="18" cy="5" r="3"></circle></svg
                >
                Optimización dinmámica de rutas de entrega
              </dt>
              <dd class="inline"></dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  ><path
                    d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"
                  ></path><path
                    d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"
                  ></path><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"
                  ></path><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"
                  ></path><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"
                  ></path><path d="M3.477 10.896a4 4 0 0 1 .585-.396"
                  ></path><path d="M19.938 10.5a4 4 0 0 1 .585.396"></path><path
                    d="M6 18a4 4 0 0 1-1.967-.516"></path><path
                    d="M19.967 17.484A4 4 0 0 1 18 18"></path></svg
                >
                Toma de decisiones automatizada
              </dt>
              <dd class="inline"></dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  ><path d="m22 2-7 20-4-9-9-4Z"></path><path d="M22 2 11 13"
                  ></path></svg
                >
                Comunicación instantánea y altamente capacitada
              </dt>
            </div>
          </dl>
        </div>

        <a
          href="/technologies"
          class="inline-block mt-10 text-primary underline">Leer más</a
        >
      </div>
    </div>
  </section>

  <!-- Section 2 -->
  <section class="container px-6 py-10 mx-aut">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-8 lg:pt-4 my-auto">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-primary">
            Presentando
          </h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
          >
            La red para transporte colaborativo 0 emisiones
          </p>
          <p class="mt-6 text-lg leading-8">
            Desbloqueamos una logística eficiente y sostenible a través de la
            colaboración. Conectamos empresas, operadores y conductores en una
            plataforma unificada, facilitando una colaboración fluida y una
            utilización optimizada de los recursos.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 text-muted-foregroundlg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground text-lg">
                <svg
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path d="m8 6 4-4 4 4"></path><path
                    d="M12 2v10.3a4 4 0 0 1-1.172 2.872L4 22"></path><path
                    d="m20 22-5-5"></path></svg
                >

                Matcheo dinámico
              </dt>
              <dd class="inline"></dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground text-lg">
                <svg
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path
                    d="M12 3v17a1 1 0 0 1-1 1H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v6a1 1 0 0 1-1 1H3"
                  ></path><path d="m16 19 2 2 4-4"></path></svg
                >
                Capacidad compartida
              </dt>
              <dd class="inline"></dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground text-lg">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  ><path d="M12 10a2 2 0 0 0-2 2c0 1.02-.1 2.51-.26 4"
                  ></path><path d="M14 13.12c0 2.38 0 6.38-1 8.88"></path><path
                    d="M17.29 21.02c.12-.6.43-2.3.5-3.02"></path><path
                    d="M2 12a10 10 0 0 1 18-6"></path><path d="M2 16h.01"
                  ></path><path d="M21.8 16c.2-2 .131-5.354 0-6"></path><path
                    d="M5 19.5C5.5 18 6 15 6 12a6 6 0 0 1 .34-2"></path><path
                    d="M8.65 22c.21-.66.45-1.32.57-2"></path><path
                    d="M9 6.8a6 6 0 0 1 9 5.2v2"></path></svg
                >
                Reduciendo la huella de carbono
              </dt>
              <dd class="inline"></dd>
            </div>
          </dl>

          <a
            href="/collaborative"
            class="inline-block mt-10 text-primary underline">Leer más</a
          >
        </div>
      </div>

      <Image
        class="object-cover object-center max-w-none lg:mx-6 w-full h-96 rounded-lg lg:h-[36rem]"
        src={pilotTest}
        alt=""
      />
    </div>
  </section>

  <!-- News -->
  <section>
    <div class="container px-6 py-10 mx-auto">
      <div class="text-center">
        <h1 class="text-2xl font-semibold capitalize lg:text-3xl">Noticias</h1>
      </div>

      <div
        class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3"
      >
        <NewsEntry
          title="La vanguardia"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fugit dolorum amet dolores praesentium, alias nam? Tempore"
          image={lavanguardiaArticle}
          href="/"
        />

         <NewsEntry
          title="La vanguardia"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fugit dolorum amet dolores praesentium, alias nam? Tempore"
          image={lavanguardiaArticle}
          href="/"
        />

         <NewsEntry
          title="La vanguardia"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fugit dolorum amet dolores praesentium, alias nam? Tempore"
          image={lavanguardiaArticle}
          href="/"
        />
      </div>
    </div>
  </section>

  <ContactForm client:visible />
</Layout>
