---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import originsPic from "../../public/media/articles/caixaBankArticle.jpg";
---

<Layout
  title="Nuestro orígen"
  description="Pioneros en la sostenibilidad a través de la colaboración"
  keywords="ecoDeliver, tecnología, transporte, sostenible, eficiente, colaborativo"
  image="/media/articles/caixaBankArticle.jpg"
  section="/about-us"
>
  <Image src={originsPic} alt="Caixa Bank" class="max-w-4xl mx-auto my-10" />

  <div class="max-w-4xl mx-auto prose prose-lg dark:prose-invert">
    <h1>Nuestro Orígen</h1>
    <blockquote>
      Pioneros en Sostenibilidad a Través de la Colaboración
    </blockquote>
    <p>
      En ecoDeliver, nuestro viaje comenzó con una visión simple pero poderosa:
      revolucionar la industria del transporte a través de la colaboración y la
      sostenibilidad. Todo comenzó con una observación aguda de nuestros
      fundadores, quienes notaron la ineficiencia y el impacto ambiental de
      innumerables vehículos recorriendo nuestras carreteras con amplio espacio
      vacío.
    </p>
    <p>
      Motivados por la creencia de que este espacio desperdiciado podría ser
      aprovechado para transportar bienes de manera sostenible, nos propusimos
      crear soluciones innovadoras que optimizaran la utilización de los
      recursos existentes. Nuestra primera incursión involucró la pionera de un
      modelo similar a "blablacar" pero adaptado para paquetes, donde individuos
      podían aprovechar sus viajes planificados para transportar paquetes a
      largas distancias, utilizando efectivamente la capacidad sobrante de sus
      vehículos.
    </p>
    <p>
      A medida que perfeccionamos nuestro modelo y expandimos nuestro alcance,
      nos adentramos más en el ámbito de los operadores de transporte de
      movilidad profesional, visualizando un futuro donde incluso las líneas de
      autobuses podrían aprovechar el espacio disponible en sus maleteros para
      transportar bienes, reduciendo así aún más las emisiones de carbono y
      maximizando la eficiencia.
    </p>
    <h2>De Concepto a Realidad</h2>
    <p>
      Lo que comenzó como una iniciativa de base para abordar un problema
      ambiental urgente pronto evolucionó hacia un próspero ecosistema de
      soluciones de transporte sostenible. A medida que nuestro equipo creció,
      también lo hizo nuestra experiencia, conocimiento del sector y capacidades
      tecnológicas. Esta evolución allanó el camino para una progresión natural
      hacia la oferta de nuestros servicios a otras empresas dentro de la
      industria.
    </p>
    <h2>Expandiendo Horizontes</h2>
    <p>
      Hoy, ecoDeliver se encuentra a la vanguardia de la innovación en
      transporte sostenible, con un enfoque multifacético que abarca tanto la
      provisión de servicios como el desarrollo tecnológico. Basándonos en
      nuestros principios fundamentales de colaboración y sostenibilidad, ahora
      ofrecemos una gama de soluciones impulsadas por la tecnología diseñadas
      para empoderar a las empresas en los sectores de transporte, logística y
      movilidad.
    </p>
    <h2>Impulsando el Cambio Juntos</h2>
    <p>
      Nuestro viaje está lejos de terminar. Permanecemos firmes en nuestro
      compromiso de impulsar un cambio positivo dentro de la industria del
      transporte, una colaboración a la vez. Únete a nosotros mientras
      continuamos explorando nuevas oportunidades, forjando asociaciones
      significativas y liderando soluciones innovadoras que dan forma al futuro
      de la movilidad sostenible.
    </p>
  </div>
</Layout>
