---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Nuestro orígen"
  description="Pioneros en la sostenibilidad a través de la colaboración"
  keywords="ecoDeliver, tecnología, transporte, sostenible, eficiente, colaborativo"
  image="/media/stockImage3.jpg"
  section="/collaborative"
>
  <img
    src="/media/stockImage3.jpg"
    alt="Caixa Bank"
    class="max-w-4xl mx-auto my-10"
  />

  <div class="max-w-4xl mx-auto prose prose-lg dark:prose-invert">
    <h2>Transporte colaborativo</h2>
    <p>TODO</p>
  </div>
</Layout>
