---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Compromisos"
  description="En ecoDeliver, creemos en ser transparentes con nuestras metas y objetivos. Es por ello que queremos dejar al ojo p煤blico todo lo que nos proponemos."
  keywords="Compromisos"
  image="/media/brand/manual.png"
>
  <div class="container mx-auto p-5 space-y-5">
    <h2 class="text-5xl font-bold">Nuestros compromisos </h2>

    <p class="text-lg text-foreground">
      En ecoDeliver, creemos en ser transparentes con nuestras metas y
      objetivos. Es por ello que queremos dejar al ojo p煤blico todo lo que nos
      proponemos.
    </p>

    <p class="text-lg text-foreground">
      驴Eres un creativo? Considera valorarnos en <a
        class="text-primary underline"
        href="https://www.behance.net/gallery/125864213/ecoDeliver-Brand-Guidlines-20"
        >Behance!</a
      >
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
      <Card
        title="Pol铆tica de anticorrupci贸n"
        picture="/media/brand/manual.png"
        description="La pol铆tica anticorrupci贸n contiene todas nuestras medidas anticorrupci贸n, as铆 como la protecci贸n de nuestra misi贸n y canales de comunicaci贸n para cualquier incidencia."
        cta="Descargar"
        href="/media/compromises/anticorrupcion.pdf"
        download="ecoDeliver_anticorrupcion.pdf"
      />

      <Card
        title="C贸digo 茅tico"
        picture="/media/brand/manual.png"
        description="Nuestro c贸digo 茅tico resume nuestras creencias, valores y visi贸n. Resalta nuestra manera de resolver conflictos de inter茅s, confidencialidad y seguridad de informaci贸n, entre otros."
        cta="Descargar"
        href="/media/compromises/codigo_etico.pdf"
        download="ecoDeliver_codigo_etico.pdf"
      />

      <Card
        title="Pol铆tica de protecci贸n al cliente"
        picture="/media/brand/manual.png"
        description="Nuestra pol铆tica de protecci贸n al cliente detalla la comunicaci贸n a nuestros clientes, el procedimiento y el plazo, el allanamiento y desistimiento, entre otros."
        cta="Descargar"
        href="/media/compromises/politica_proteccion_cliente.pdf"
        download="ecoDeliver_politica_proteccion_cliente.pdf"
      />

      <Card
        title="Plan de igualdad"
        picture="/media/brand/manual.png"
        description="Nuestro plan de igualdad incluye nuestros objetivos generales en materia de igualdad, condiciones de trabajo, ejercicio responsable sobre los derechos de la vida personal, familiar y laboral, entre otros."
        cta="Descargar"
        href="/media/compromises/plan_igualdad.pdf"
        download="ecoDeliver_plan_igualdad.pdf"
      />
    </div>
  </div>
</Layout>
