---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Welcome to Astro."
  description="Astro description"
  keywords="Astro, HTML, CSS, JavaScript"
  image="/logo.png"
>
  <h1 class="text-4xl text-primary">hello world</h1>
</Layout>
