---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Welcome to Astro."
  description="Astro description"
  keywords="Astro, HTML, CSS, JavaScript"
  image="/media/"
>
  <p>Hello</p>
</Layout>
