---
import CloudLogos from "../components/CloudLogos.astro";
import DynamicText from "../components/DynamicText";
import NewsEntry from "../components/NewsEntry.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Welcome to Astro."
  description="Astro description"
  keywords="Astro, HTML, CSS, JavaScript"
  image="/media/brand/brand.png"
>
  <!-- Hero section -->
  <div
    class="m-auto flex flex-col justify-center max-w-4xl min-h-[calc(100vh-100px)] text-center px-4"
  >
    <!-- Background -->
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-primary to-blue-700 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style={{
          clipPath:
            "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
        }}
      >
      </div>
    </div>

    <!-- Contact us header -->
    <div class="mb-8 sm:flex sm:justify-center mx-auto">
      <div
        class="rounded-full px-3 py-1 text-sm leading-6 text-muted-foreground ring-1 ring-muted-foreground/20 flex flex-row gap-2 w-fit"
      >
        <p class="hidden lg:block text-muted-foreground">
          Explorando nuevos horizontes para partners
        </p>

        <a
          href="mailto:hola@ecodeliver.tech"
          class="flex flex-row gap-2 font-semibold text-primary"
          aria-hidden="true"
        >
          <p>Contáctanos</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width={1.5}
            stroke="currentColor"
            class="w-4 h-4 my-auto"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
          </svg>
        </a>
      </div>
    </div>

    <!-- Hero title -->
    <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">
      <span>Tecnología disruptiva para un transporte</span>
      <DynamicText
        frequency={2000}
        texts={["sostenible", "eficiente", "colaborativo"]}
        className="text-4xl font-bold tracking-tight text-primary sm:text-6xl"
        client:load
      />
    </h1>
    <!-- Hero description -->
    <p class="mt-6 text-lg font-light max-w-2xl mx-auto text-muted-foreground">
      Únete a la transformación del transporte sostenible apostando por
      tecnología disruptiva. Estamos preparando grandes novedades.
    </p>

    <!-- Background -->
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-blue-700 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style={{
          clipPath:
            "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
        }}
      >
      </div>
    </div>
  </div>

  <!-- Section 1 -->

  <section class="container px-6 py-10 mx-auto">
    <div class="lg:-mx-6 lg:flex lg:items-center space-x-12">
      <img
        class="object-cover object-center lg:w-1/2 lg:mx-6 w-full h-96 rounded-lg lg:h-[36rem]"
        src="https://images.unsplash.com/photo-1499470932971-a90681ce8530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        alt=""
      />

      <div class="lg:pr-8 lg:pt-4 my-auto">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-primary">
            Deploy faster
          </h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
          >
            A better workflow
          </p>
          <p class="mt-6 text-lg leading-8">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis
            ratione.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 text-muted-foregroundlg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground">
                <svg
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                    clip-rule="evenodd"></path>
                </svg>
                Push to deploy.
              </dt>
              <dd class="inline">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Maiores impedit perferendis suscipit eaque, iste dolor
                cupiditate blanditiis ratione.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground">
                <svg
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                    clip-rule="evenodd"></path>
                </svg>
                SSL certificates.
              </dt>
              <dd class="inline">
                Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
                lorem cupidatat commodo.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-foreground">
                <svg
                  class="absolute left-1 top-1 h-5 w-5 text-primary"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                    clip-rule="evenodd"></path>
                </svg>
                Database backups.
              </dt>
              <dd class="inline">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                Et magna sit morbi lobortis.
              </dd>
            </div>
          </dl>

          <a
            class="text-foreground font-bold px-4 py-2 mt-6 block w-fit bg-secondary rounded"
            href="/about">See more</a
          >
        </div>
      </div>
    </div>
  </section>

  <!-- Background -->
  <div
    class="absolute top-[1117px] inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-primary to-blue-700 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style={{
        clipPath:
          "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
      }}
    >
    </div>
  </div>

  <!-- Section 2 -->
  <section class="overflow-hidden py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        <div class="lg:pr-8 lg:pt-4 my-auto">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-primary">
              Deploy faster
            </h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight text-foreground sm:text-4xl"
            >
              A better workflow
            </p>
            <p class="mt-6 text-lg leading-8">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
              impedit perferendis suscipit eaque, iste dolor cupiditate
              blanditiis ratione.
            </p>
            <dl
              class="mt-10 max-w-xl space-y-8 text-base leading-7 text-muted-foregroundlg:max-w-none"
            >
              <div class="relative pl-9">
                <dt class="inline font-semibold text-foreground">
                  <svg
                    class="absolute left-1 top-1 h-5 w-5 text-primary"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Push to deploy.
                </dt>
                <dd class="inline">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Maiores impedit perferendis suscipit eaque, iste dolor
                  cupiditate blanditiis ratione.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-foreground">
                  <svg
                    class="absolute left-1 top-1 h-5 w-5 text-primary"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                      clip-rule="evenodd"></path>
                  </svg>
                  SSL certificates.
                </dt>
                <dd class="inline">
                  Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure
                  qui lorem cupidatat commodo.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-foreground">
                  <svg
                    class="absolute left-1 top-1 h-5 w-5 text-primary"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"
                    ></path>
                    <path
                      fill-rule="evenodd"
                      d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Database backups.
                </dt>
                <dd class="inline">
                  Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                  Et magna sit morbi lobortis.
                </dd>
              </div>
            </dl>

            <a
              class="text-foreground font-bold px-4 py-2 mt-6 block w-fit bg-secondary rounded"
              href="/about">See more</a
            >
          </div>
        </div>
        <img
          src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
          alt="Product screenshot"
          class="max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 md:-ml-4 lg:-ml-0"
          width="1200"
        />
      </div>
    </div>
  </section>

  <!-- Background -->
  <div
    class="absolute top-[2000px] inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-primary to-blue-700 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style={{
        clipPath:
          "polygon(25% 18%, 45% 54%, 35% 76%, 76% 44%, 94% 67%, 82% 100%, 31% 87%, 0% 30%)",
      }}
    >
    </div>
  </div>

  <!-- News -->

  <section>
    <div class="container px-6 py-10 mx-auto">
      <div class="text-center">
        <h1 class="text-2xl font-semibold capitalize lg:text-3xl">Noticias</h1>
      </div>

      <div
        class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3"
      >
        <NewsEntry
          title="La vanguardia"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fugit dolorum amet dolores praesentium, alias nam? Tempore"
          image="/media/articles/araArticle.webp"
          href="/"
          author="Tom Hank"
          newsPaper="La vanguardia"
          newsLogo="https://play-lh.googleusercontent.com/_LHdH6rPNns7806B0wc-eYjlgOh45dg3b5NjMwlLqQ0P3vGaEDxeHQLqizW-k6rwpSfw"
        />

        <NewsEntry
          title="La vanguardia"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fugit dolorum amet dolores praesentium, alias nam? Tempore"
          image="/media/articles/araArticle.webp"
          href="/"
          author="Tom Hank"
          newsPaper="La vanguardia"
          newsLogo="https://play-lh.googleusercontent.com/_LHdH6rPNns7806B0wc-eYjlgOh45dg3b5NjMwlLqQ0P3vGaEDxeHQLqizW-k6rwpSfw"
        />

        <NewsEntry
          title="La vanguardia"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis fugit dolorum amet dolores praesentium, alias nam? Tempore"
          image="/media/articles/araArticle.webp"
          href="/"
          author="Tom Hank"
          newsPaper="La vanguardia"
          newsLogo="https://play-lh.googleusercontent.com/_LHdH6rPNns7806B0wc-eYjlgOh45dg3b5NjMwlLqQ0P3vGaEDxeHQLqizW-k6rwpSfw"
        />
      </div>
    </div>
  </section>

  <CloudLogos />
</Layout>
