<div class="max-w-screen-xl mx-auto my-20">
  <div class="gap-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5">
    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-12"
        src="/media/cloudLogos/barcelonaActiva.png"
        alt="cloud logo"
      />
    </div>

    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-12"
        src="/media/cloudLogos/caixaBank.png"
        alt="cloud logo"
      />
    </div>

    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-24"
        src="/media/cloudLogos/imaginBank.png"
        alt="cloud logo"
      />
    </div>

    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-24"
        src="/media/cloudLogos/eit.png"
        alt="cloud logo"
      />
    </div>

    <div class="flex items-center justify-center md:col-span-2 lg:col-span-1">
      <img
        class="grayscale max-w-full h-12"
        src="/media/cloudLogos/logisticsIncubator.png"
        alt="cloud logo"
      />
    </div>
  </div>
</div>

<div class="hidden lg:block max-w-screen-xl mx-auto my-20">
  <div class="gap-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-12"
        src="/media/cloudLogos/europeanUnion.png"
        alt="cloud logo"
      />
    </div>

    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-12"
        src="/media/cloudLogos/nextGen.png"
        alt="cloud logo"
      />
    </div>

    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-12"
        src="/media/cloudLogos/zonaFranca.png"
        alt="cloud logo"
      />
    </div>

    <div class="flex items-center justify-center">
      <img
        class="grayscale max-w-full h-12"
        src="/media/cloudLogos/AMB.png"
        alt="cloud logo"
      />
    </div>
  </div>
</div>
