---
import { getI18N } from "@/i18n";
import { cn } from "../utils/utils";
import ThemeToggler from "./ThemeToggler";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentUrl = new URL(Astro.request.url).pathname;
const i18n = getI18N(Astro.currentLocale || "es").navbar;

const navbar = [
  {
    href: getRelativeLocaleUrl(Astro.currentLocale || "es", "technologies"),
    label: i18n.tech,
  },
  {
    href: getRelativeLocaleUrl(Astro.currentLocale || "es", "collaborative"),
    label: i18n.collaborative,
  },
  {
    href: getRelativeLocaleUrl(Astro.currentLocale || "es", "about-us"),
    label: i18n.origin,
  },
];
---

<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex items-center gap-10 text-lg">
    <a
      href={getRelativeLocaleUrl(Astro.currentLocale || "es", "/")}
      class="flex items-center gap-4"
    >
      <img src="/media/brand/logo.svg" width={50} height={50} alt="logo" />
      <h2 class="my-auto text-2xl font-semibold">
        <span class="text-primary">eco</span>
        <span class="-ml-1">Deliver</span>
      </h2>
    </a>

    {
      navbar.map((links) => (
        <a
          href={links.href}
          class={cn([
            links.href === currentUrl && "text-primary font-semibold",
            "hover:underline hidden lg:block",
          ])}
        >
          {links.label}
        </a>
      ))
    }
  </div>

  <ThemeToggler client:only="react" />
</nav>
