---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  href: string;
}
const { title, description, image, href } = Astro.props;
---

<div>
  <Image
      class="object-cover object-center w-full h-64 rounded-lg lg:h-80"
      src={image}
      alt=""
    />

  <h1 class="mt-6 text-xl font-semibold">
    {title}
  </h1>

  <hr class="w-32 my-6 h-1 border-foreground/50" />

  <p class="text-sm text-muted-foreground">{description}</p>

  <a
    href={href}
    class="inline-block mt-4 text-primary underline hover:text-primary/50"
    >Read more</a
  >
</div>
