---
interface Props {
  title: string;
  description: string;
} 

const { title,  description, } = Astro.props;
---

<div
  class=
    "flex flex-col items-center p-6 space-y-3 text-center bg-card rounded-xl border"
>
  <span class="inline-block p-3 text-primary-foreground bg-primary rounded-full">
    <slot/>
  </span>

  <h1 class="text-2xl font-semibold">
    {title}
  </h1>

  <p class="text-muted-foreground">{description}</p>
</div>
